<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PanelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1028,1516}</string>
                <key>spriteSourceSize</key>
                <string>{1028,1516}</string>
                <key>textureRect</key>
                <string>{{256,120},{1028,1516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fragment_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,120},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_border_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1008,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgMask1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quality_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{40,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{640,0},{184,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{824,0},{184,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,100}</string>
                <key>spriteSourceSize</key>
                <string>{500,100}</string>
                <key>textureRect</key>
                <string>{{140,0},{500,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1284,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106d95a443869018637adb9ff60427be:8fa147288b71e4c537e5d18524e4c3ea:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
